* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 24px;
}

.two-columns {
    display: flex;
}

.two-columns .col {
    display: flex;
    background: lawngreen;
    margin: 15px;
    padding: 30px;
}